# Python
Backend/__pycache__/
Backend/*.py[cod]
Backend/*.pyo
Backend/*.pyd
Backend/venv/

# Virtual environment
venv/

# Node
Frontend/node_modules/
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

# Environment files
.env
**/.env
**/.env.*
!**/.env.example

# Secrets and generated data
media/
db.sqlite3
*.sqlite3
*.sqlite
*.log
*.cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
#docker
docker-compose.override.yml